
.header {
    box-sizing: border-box;
    height: 10vh;
    width: 100%;
    padding: 10px 15px;
    background-color: #b5d9b5;
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.navLinks {
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: green;
}

.activeLink {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: red;
    margin-right: 20px;
}

.link:not(:last-of-type) {
    margin-right: 20px;
}